# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
server_id=3
#validate_password_special_char_count=0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
replicate-wild-do-table=seqdata.%
replicate-wild-do-table=core.aligntype
replicate-wild-do-table=core.cellline
replicate-wild-do-table=core.chromosome
replicate-wild-do-table=core.exptcondition
replicate-wild-do-table=core.expttarget
replicate-wild-do-table=core.expttype
replicate-wild-do-table=core.genome
replicate-wild-do-table=core.lab
replicate-wild-do-table=core.readtype
replicate-wild-do-table=core.seqdatauser
replicate-wild-do-table=core.species
replicate-wild-do-table=ucsc\_%.refGene
#replicate-wild-do-table=ucsc_JN555585_1.refGene
#replicate-wild-do-table=ucsc_PbANKA.refGene
#replicate-wild-do-table=ucsc_Pf3D7.refGene
#replicate-wild-do-table=ucsc_ce10.refGene
#replicate-wild-do-table=ucsc_danRer6.refGene
#replicate-wild-do-table=ucsc_dm3.refGene
#replicate-wild-do-table=ucsc_hg18.refGene
#replicate-wild-do-table=ucsc_hg19.refGene
#replicate-wild-do-table=ucsc_hg38.refGene
#replicate-wild-do-table=ucsc_mm10.refGene
#replicate-wild-do-table=ucsc_mm10_rDNA.refGene
#replicate-wild-do-table=ucsc\_mm10\_synHoxA.refGene
#replicate-wild-do-table=ucsc_mm10_synHoxA_delHoxA.refGene
#replicate-wild-do-table=ucsc_mm8.refGene
#replicate-wild-do-table=ucsc_mm9.refGene
#replicate-wild-do-table=ucsc_rn4.refGene
#replicate-wild-do-table=ucsc_rn5.refGene
#replicate-wild-do-table=ucsc_sacCer3.refGene


# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

pid-file=/var/run/mysqld/mysqld.pid

#log_ = banba-relay-log
#log-bin=mysql-bin
#log-slave-updates=1
#auto_increment_increment=2
#auto_increment_offset=2
datadir=/var/lib/mysql/
relay-log = banba-relay-log
relay-log-space-limit=10G
innodb_buffer_pool_size=1G
innodb_flush_log_at_trx_commit=0
